  <%- include("header") -%>
  
  
  
  <div class="box" id="heading">
    
    <h1><%= listTitle %></h1>
    
  </div>
  <div class="box">
    <% for(let i = 0; i < newListItem.length; i++){ %>
      <div class="item">
          <input type="checkbox" name="item<%= i %>" <%= newListItem[i].checked ? 'checked' : '' %> onchange="document.getElementById('form<%= i %>').submit();">
          <p><%= newListItem[i].text %></p>
          <form id="form<%= i %>" action="/check" method="POST" style="display: none;">
              <input type="hidden" name="itemIndex" value="<%= i %>">
          </form>
      </div>
  <% } %>
      
      
      
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="Add new task" autocomplete="off">
        <button type="submit" name="button">+</button>
      </form>
      
    </div>
    
    <%- include("footer") -%>